{{#>default section=sections.records page=sections.records.subsections.grades}}
<div style="min-height: 60vh;">
    {{! This is the starter for a section page
        -------------------------------------------------------
        - The tag at the top brings in the default portions
        - Data comes in from JSON files, please put all data/strings in the JSON files
        - Keep the data organized, if you're adding financial data put it under "finances"
    }}
    {{#each user.records.grades}}
        <h2>{{semester}}</h2>
        <p><span class="text-muted">Semester GPA </span><span class="badge">{{semester_GPA}}</span></p>
        <!-- Grade Table -->
        <table class="table">
            <thead>
                <tr>
                    <th>Course</th>
                    <th>Percent</th>
                    <th>Letter Grade</th>
                </tr>
            </thead>
            <tbody>
                <tr>{{#each courses}}
                    <td>{{code}}{{number}}</td>
                    <td>{{percent}}</td>
                    <td>{{letter}}</td>
                </tr>{{/each}}
            </tbody>
        </table>
    {{/each}}

</div>
{{/default}}