{{#>default section=sections.finances page=sections.finances.subsections.account}}
<div style="min-height: 60vh;">
    {{! This is the starter for a section page
        -------------------------------------------------------
        - The tag at the top brings in the default portions
        - Data comes in from JSON files, please put all data/strings in the JSON files
        - Keep the data organized, if you're adding financial data put it under "finances"
    }}

    {{!Start of the tables}}
    <div class="row">
        <div class="col-md-7">
            {{#with user.finances.balances.[0]}}
                <h3>Spring 2016
                    <div class=pull-right>
                        {{!Print Button}}
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                Print <i class="fa fa-print"></i> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">All Semesters</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Summer 2013</a></li>
                                <li><a href="#">Fall 2013</a></li>
                                <li><a href="#">Spring 2014</a></li>
                            </ul>
                        </div>
                    </div>
                </h3>
                <p>&nbsp;</p>
                <div class="panel panel-default">
                    <table class="table table-hover" width="100%">
                        <thead>
                        <tr>
                            <th width="80%">Description</th>
                            <th width="20%">Amount</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each charges}}
                            <tr>
                                <th>{{title}}</th>
                                <th>${{formatCurrency total_amount}}</th>
                            </tr>
                            <tr>{{#each items}}
                                    <td style="padding-left: 2em;">{{item}}</td>
                                    <td>${{formatCurrency amount}}</td>
                                </tr>{{/each}}{{/each}}
                        <tr>
                            <th>Total</th>
                            <th>${{formatCurrency total_charges}}</th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            {{/with}}
        </div>

        <div class="col-md-5">
            <h3>Balance
                <div class=pull-right>
                    <a href="#" class="btn btn-primary">Pay Now <i class="fa fa-credit-card"></i></a>
                </div>
            </h3>

            <p>Current Balance: <span class="text-danger text-bold">$637.12</span></p>
            <div class="panel panel-default">
                <table class="table table-hover" width="100%">
                    <thead>
                    <tr>
                        <th width="40%">Semester</th>
                        <th width="20%">Charges</th>
                        <th width="20%">Paid</th>
                        <th width="20%">Due</th>
                    </tr>
                    </thead>
                    <tbody>{{#each user.finances.balances}}
                        <tr>
                            <td>{{semester}}</td>
                            <td>${{formatCurrency total_charges}}</td>
                            <td>${{formatCurrency payments}}</td>
                            <td class="{{#if due}}text-danger text-bold{{/if}}">${{formatCurrency due}}</td>
                        </tr>{{/each}}
                    </tbody>
                </table>
            </div>

        </div>


        <script>
            function printFunction() {
                window.print();
            }
        </script>


    </div>
{{/default}}