{{#>default section=sections.finances page=sections.finances.subsections.account}}
<div style="min-height: 60vh;">
    {{! This is the starter for a section page
        -------------------------------------------------------
        - The tag at the top brings in the default portions
        - Data comes in from JSON files, please put all data/strings in the JSON files
        - Keep the data organized, if you're adding financial data put it under "finances"
    }}

    {{!Start of the tables}}
    <div class="row">
<<<<<<< HEAD
<<<<<<< HEAD
        <div class="col-xs-6">
            <h2 class="sub-header">Spring 2016
                <div class=pull-right>
                    {{!Print Button}}
                    <div class="btn-group">

                            <button type="button" onclick="printFunction()" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                 <i class="fa fa-print"></i> Print <span class="caret"></span>
=======
        <div class="col-md-7">
            {{#with user.finances.balances.[0]}}
                <h3>Spring 2016
=======
        <div class="col-md-5 col-md-push-7">
            <h3>Balance
                <div class=pull-right>
                    <a href="#" class="btn btn-primary">Pay Now <i class="fa fa-credit-card"></i></a>
                </div>
            </h3>

            <p>Current Balance: <span class="text-danger text-bold">$637.12</span></p>
            <div class="panel panel-default">
                <table class="table table-hover semester-switch" data-toggle="semester" width="100%">
                    <thead>
                    <tr>
                        <th width="40%">Semester</th>
                        <th width="20%">Charges</th>
                        <th width="20%">Paid</th>
                        <th width="20%">Due</th>
                    </tr>
                    </thead>
                    <tbody>{{#each user.finances.semesters}}
                        <tr class="{{#if (equals @index 0)}}active{{/if}}"
                            data-target="#{{#replace " " "-"}}{{semester}}{{/replace}}">
                            <td>{{semester}}</td>
                            <td>${{toFixed total_charges 2}}</td>
                            <td>${{toFixed payments 2}}</td>
                            <td class="{{#if due}}text-danger text-bold{{/if}}">${{toFixed due 2}}</td>
                        </tr>{{/each}}
                    </tbody>
                </table>
            </div>

        </div>
        <div class="col-md-7 col-md-pull-5">
            {{#each user.finances.semesters}}
            <div id="{{#replace " " "-"}}{{semester}}{{/replace}}" class="semester {{#if (equals @index 0)}}active{{/if}}">
                <h3>{{semester}}
>>>>>>> hwkr/master
                    <div class=pull-right>
                        {{!Print Button}}
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                Print <i class="fa fa-print"></i> <span class="caret"></span>
>>>>>>> hwkr/master
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">All Semesters</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Summer 2013</a></li>
                                <li><a href="#">Fall 2013</a></li>
                                <li><a href="#">Spring 2014</a></li>
                            </ul>
                        </div>
                    </div>
                </h3>
                <p>&nbsp;</p>
                <div class="panel panel-default">
                    <table class="table table-hover" width="100%">
                        <thead>
                        <tr>
                            <th width="80%">Description</th>
                            <th width="20%">Amount</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each charges}}
                            <tr>
                                <th>{{title}}</th>
                                <th>${{toFixed total_amount 2}}</th>
                            </tr>
                            <tr>{{#each items}}
                                    <td style="padding-left: 2em;">{{item}}</td>
                                    <td>${{toFixed amount 2}}</td>
                                </tr>{{/each}}{{/each}}
                        <tr>
                            <th>Total</th>
                            <th>${{toFixed total_charges 2}}</th>
                        </tr>
                        </tbody>
                    </table>
                </div>
<<<<<<< HEAD
            {{/with}}
        </div>

        <div class="col-md-5">
            <h3>Balance
                <div class=pull-right>
<<<<<<< HEAD
                    <a href="#" class="btn btn-info"><i class="fa fa-credit-card"></i> Pay Now</a>
=======
                    <a href="#" class="btn btn-primary">Pay Now <i class="fa fa-credit-card"></i></a>
>>>>>>> hwkr/master
                </div>
            </h3>

            <p>Current Balance: <span class="text-danger text-bold">$637.12</span></p>
            <div class="panel panel-default">
                <table class="table table-hover" width="100%">
                    <thead>
                    <tr>
                        <th width="40%">Semester</th>
                        <th width="20%">Charges</th>
                        <th width="20%">Paid</th>
                        <th width="20%">Due</th>
                    </tr>
                    </thead>
                    <tbody>{{#each user.finances.balances}}
                        <tr>
                            <td>{{semester}}</td>
                            <td>${{toFixed total_charges 2}}</td>
                            <td>${{toFixed payments 2}}</td>
                            <td class="{{#if due}}text-danger text-bold{{/if}}">${{toFixed due 2}}</td>
                        </tr>{{/each}}
                    </tbody>
                </table>
            </div>

=======
            </div>{{/each}}
>>>>>>> hwkr/master
        </div>

        <script>
            function printFunction() {
                window.print();
            }
        </script>

    </div>
{{/default}}