{{#>default section=sections.courses page=sections.courses.subsections.program_change}}
<div style="min-height: 60vh;">
    {{! This is the starter for a section page
        -------------------------------------------------------
        - The tag at the top brings in the default portions
        - Data comes in from JSON files, please put all data/strings in the JSON files
        - Keep the data organized, if you're adding financial data put it under "finances"
    }}
    {{! Access the page context with `page` (see globals.json)}}
    <h2>{{page.title}}</h2>
    {{! Access the page context with `user` (see amy.json)}}
    <div class="panel panel-default">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Spring</th>
                    <th>Summer</th>
                    <th>Fall</th>
                </tr>
            </thead>
            <tbody>
                <tr>{{#each user.courses.program.years}}
                    <td>{{year}}</td>
                    {{#each semesters}}<td>
                        <ul class="list-group">{{#each courses}}
                            <li class="list-group-item list-group-item-{{#if complete}}success{{else}}info{{/if}}">{{code}} {{number}}</li>{{/each}}
                        </ul>
                    </td>{{/each}}
                </tr>{{/each}}
            </tbody>
        </table>
    </div>
</div>
{{/default}}